@page "/class-events/{roomNumber:int}"
@using Microsoft.AspNetCore.Authorization
@using SportsDayScoring.Data
@using SportsDayScoring.Models

@* @attribute [Authorize] *@

<h1 class="text-xl text-center font-bold px-4 items-center relative">
    Room @RoomNumber
    <span class="absolute right-[3px] top-[3px] font-normal rounded-md px-2 bg-sky-200 border border-black">
        <a href="/">Return Home</a>
    </span>
</h1>
@if (_error != null)
{
    <div class="text-red-600">@_error</div>
}
<div class="overflow-x-auto my-2">
    @if (Room is null)
    {
        <p>Loading...</p>
    }
    else
    {
        @foreach (var ev in Room.HouseEvents)
        {
            <EventCard HouseEvent="@ev" Parent="this" />
        }
    }
</div>

@code {
    [Parameter] public int RoomNumber { get; set; }
    [Inject] public DataService DataService { get; set; } = null!;

    private Room? Room { get; set; }
    private string? _error;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var room = await DataService.GetRoom(RoomNumber);
            Room = room;
            OnEventSaved();
        }
        catch (Exception e)
        {
            _error = e.Message;
        }
    }

    private void OnEventSaved()
    {
        if (Room is null)
        {
            return;
        }

        var idx = 0;
        while (Room.HouseEvents[idx].IsSaved)
        {
            idx++;
            
            if (idx == Room.HouseEvents.Count)
            {
                idx = 0;
                break;
            }
        }

        var orderedEvents = new List<HouseEvent>();
        while (orderedEvents.Count < Room.HouseEvents.Count)
        {
            orderedEvents.Add(Room.HouseEvents[idx]);
            idx++;

            if (idx == Room.HouseEvents.Count)
            {
                idx = 0;
            }
        }
        
        Room.HouseEvents = orderedEvents;
        StateHasChanged();
    }
}
