@page "/class-events/{roomNumber:int}"
@using Microsoft.EntityFrameworkCore
@using SportsDayScoring.Data
@using SportsDayScoring.Models
@using System.Text.Json

<h1 class="text-xl text-center">McLaren Flat Sports Day - Room @RoomNumber</h1>
@if (Error != null) {
    <div class="text-red-600">@Error</div>
}
<div class="overflow-x-auto py-2">
        @if (Houses.Count == 0) {
            <p>Loading...</p>
        }
        else {
            @foreach (var ev in Houses.First().Events) {
                <EventCard EventName="@ev.Name" Parent="this" />
            }
        }
</div>

@code {
    [Parameter]
    public int RoomNumber { get; set; }

    public List<House> Houses { get; set; } = [];
    public string? Error = null;

    protected override void OnInitialized() {
        var rooms = JsonSerializer.Deserialize<Class>(File.ReadAllText($"ScoreCards/Room{RoomNumber}.json"));
        Houses = rooms.Houses;
    }

}
