@page "/"
@using SportsDayScoring.Data
@using SportsDayScoring.Models
@using System.Text.Json
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<div class="h-full w-full flex justify-center items-center">
    <div class="flex flex-col gap-4">
        <div class="pb-3 border-b border-black">
            <select @bind=SelectedRoom class="border border-black bg-yellow-400 p-2">
                @foreach (var room in Rooms) {
                    <option value="@room">Room @room</option>
                }
            </select>
            <button @onclick=NavigateToClassEvents class="border p-2 text-lg bg-sky-500">Class Events</button>
        </div>
        <a class="row-start-1 col-start-2 border rounded-md text-center text-lg p-3 bg-blue-400" href="/school-events">Whole School Events</a>
        <a class="row-start-2 col-start-1 border rounded-md text-center text-lg p-3 bg-green-400" href="/scores">Score Tally</a>
        <button class="row-start-2 col-start-1 border rounded-md text-center text-lg p-3 bg-red-400" @onclick=SeedData>Seed data</button>
    </div>
</div>

@code {
    public List<int> Rooms { get; set; } = [5, 6, 7, 8, 12, 13, 14, 15];
    public int SelectedRoom { get; set; }

    public void NavigateToClassEvents() {
        NavigationManager.NavigateTo($"/class-events/{SelectedRoom}");
    }

    public void SeedData() {
        var rooms = Seed.Rooms;

        foreach (var room in rooms) {
            var filePath = $"ScoreCards/Room{room.RoomNumber}.json";
            File.WriteAllText(filePath, JsonSerializer.Serialize(room));
        }

        var houses = Seed.GetHousesSchoolEvents();
        File.WriteAllText("ScoreCards/SchoolEvents.json", JsonSerializer.Serialize(houses));

        NavigationManager.NavigateTo("/");
    }
}
