@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Segoe UI', Arial, sans-serif;
}

body {
    background-color: #f1f5f9;
}

select {
    -webkit-appearance: auto;
    appearance: auto;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}